@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: orange;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 4px;
  background-color: orange;
  z-index: 99;
}
.head-conteneur {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cont {
  max-width: 1100px;
  margin: auto;
  width: 100%;
}
.logo {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
#menu {
  font-size: 24px;
  display: none;
}
#menu:hover {
  color: #fff;
  cursor: pointer;
}
.nav-un .ul-un {
  display: flex;
  align-items: center;
}
.li-un {
  padding-left: 15px;
}
.li-un a {
  color: #000;
  font-size: 1rem;
}
.li-un a:hover {
  color: #fff;
}
.rejoin {
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
  background-color: crimson;
  color: #fff;
  font-size: 0.9rem;
}
.rejoin:hover {
  background-color: purple;
}
.baniere {
  width: 100%;
  height: 500px;
  margin-top: 2.5rem;
  position: relative;
}
.swiper1 {
  width: 100%;
  height: 100%;
}

.swiper-slide1 {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lide3 video,
.lide6 video {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.peunoi {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
}
.peunoi h1 {
  font-size: 4rem;
  padding-top: 3rem;
  color: #fff;
}
.peunoi P {
  width: 60%;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-bottom: 2px solid orange;
  margin: 15px auto;
}
.peunoi a {
  width: 10%;
  margin: 15px auto;
  padding: 10px 15px;
  border-radius: 15px;
  border: solid 2px #fff;
  color: #fff;
}
.peunoi a:hover {
  background-color: #fff;
  color: #555;
}
.lide1 {
  background: url("/src/images/ban5.webp");
}
.lide2 {
  width: 100%;
  height: 100%;
  background: url("/src/images/ban4.webp");
}
.lide4 {
  width: 100%;
  height: 100%;
  background: url("/src/images/ban6.webp");
}
.lide5 {
  width: 100%;
  height: 100%;
  background: url("/src/images/ban1.webp");
}
.realisa {
  width: 50%;
  position: absolute;
  left: 5px;
  bottom: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  gap: 0.8rem;
  z-index: 3;
  opacity: 0.7;
}
.reali {
  width: 100%;
  height: 150px;
  border-radius: 15px 0 15px 0;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.reali small {
  font-size: 2.5rem;
}
.reali .bx {
  font-size: 40px;
  color: #555;
}
.enga {
  width: 100%;
  background-color: #fff;
}
.enga h1 {
  text-align: center;
  font-size: 2rem;
  padding: 15px;
}
.cont-enga {
  width: 95%;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 15px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(49%, auto));
}
.part-un,
.part-deux {
  width: 100%;
  height: 60vh;
  position: relative;
}
.part-un {
  background-image: url("/src/images/um.webp");
  background-size: cover;
}
.part-deux {
  background-image: url("/src/images/um1.webp");
  background-size: cover;
}
.obli {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 150px;
  background: orange;
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.obli:hover {
  background-color: #fff;
}
.expertise {
  width: 100%;
}
.expertise h1 {
  text-align: center;
  font-size: 2rem;
  padding: 15px;
}
.contexp {
  width: 96%;
  height: 50vh;
  margin: auto;
}
.swiper2 {
  width: 100%;
  height: 100%;
}

.swiper-slide2 {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wide1 {
  width: 100%;
  height: 100%;
  background: url("/src/images/rerou.webp");
  background-size: cover;
}
.wide2 {
  width: 100%;
  height: 100%;
  background: url("/src/images/rere.webp");
  background-size: cover;
}
.wide3 {
  width: 100%;
  height: 100%;
  background: url("/src/images/arel.webp");
  background-size: cover;
}
.wide4 {
  width: 100%;
  height: 100%;
  background: url("/src/images/enrobé.webp");
  background-size: cover;
}
.win {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}
.win a {
  padding: 5px 10px;
  border-radius: 15px;
  border: solid #fff 2px;
  color: #fff;
  font-size: 1.8rem;
}
.win a:hover {
  background: orange;
  color: #000;
  border: solid orange 2px;
}

.about h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}
.about-content {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 2rem;
  justify-content: center;
  margin: auto;
}
.details-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}
.details-about p {
  text-align: justify;
}
.details-about h2 {
  border-bottom: 2px solid orange;
}
.voir-plus-about {
  padding: 6px 25px;
  border-radius: 5px;
  background-color: orange;
  color: #000;
  font-size: 0.9rem;
  font-weight: 500;
}
.voir-plus-about:hover {
  background: plum;
}
.about-img {
  width: 100%;
}
#faq {
  padding: 20px;
}
.wrapper {
  max-width: 75%;
  margin: auto;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i {
  font-size: 1.6rem;
}

.accordion,
.active:hover {
  background-color: #f1f7f5;
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: #f1f7f5;
  display: none;
}
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  line-height: 1.4;
  text-align: center;
  font-family: "Space Grotesk", serif;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.faq.active {
  border: none;
}
.newsletter {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem auto;
  height: 200px;
  background: url("../images/bloblo.webp");
}
.news-details p {
  font-size: 3rem;
  background: yellow;
  padding: 2px 15px;
}
#newsletter {
  width: 40%;
  display: flex;
  align-items: center;
}
.formcontent {
  width: 100%;
  display: flex;
}
.formcontent input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 20px 0 0 20px;
  border: none;
  width: 100%;
}
input[type="submit"] {
  padding: 10px 15px;
  border: none;
  background: mediumslateblue;
  color: #000;
  border-radius: 0 20px 20px 0;
}
input[type="submit"]:hover {
  background: #555;
  cursor: pointer;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contwha {
  position: fixed;
  right: 25px;
  bottom: 25px;
  border-radius: 50%;
  z-index: 20;
  background: #fff;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  padding: 5px;
  border: #000 solid 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.contwha .bx {
  font-size: 60px;
  border-radius: 50%;
  color: #25d366;
}
.contwha small {
  font-size: 0.6rem;
}
footer {
  width: 100%;
  background-color: orange;
  color: #11145f;
  padding: 20px;
  margin-top: 1rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 150px;
  margin: 10px;
}

.footer-section h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #11145f;
  text-decoration: none;
  font-size: 13px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section p {
  font-size: 12px;
}
/* ===========inscripton=========== */
#form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: url("/src/images/enrobé.webp");
}
#form {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: #fff;
  border-radius: 30px;
}
#form h1 {
  text-align: center;
  font-weight: 500;
}
label {
  padding: 5px;
}
.controle {
  display: flex;
  flex-direction: column;
}
#ins-email,
#ins-pass,
#ins-conf-pass {
  width: 100%;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 6px;
  font-size: 0.8rem;
  outline-color: #007bff;
}
#ins-submit {
  width: 30%;
  border-radius: 30px;
  margin: 10px auto;
  background: orange;
  font-weight: 500;
}
.erreur {
  display: none;
}
.lien {
  text-align: center;
  font-size: 0.8rem;
}
/* ====================SERVICES======================= */
.baban {
  width: 100%;
  height: 300px;
}
.baniere-services {
  width: 100%;
  height: 300px;
  background: red;
}
.ser1 {
  width: 100%;
  height: 300px;
  background-image: url("/src/images/ser-bu.webp");
}
.ser1 {
  width: 100%;
  height: 300px;
  background-image: url("/src/images/ser-bu2.webp");
}
#routes-auto h1 {
  text-align: center;
  font-size: 1.4rem;
  padding: 15px;
}
.lesphotos {
  width: 92%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  justify-content: center;
  margin: auto;
}
.unepho {
  width: 100%;
  height: 150px;
}

/* ==============A PROPOS===================== */
#apro h1 {
  text-align: center;
  font-size: 1.4rem;
  padding: 15px;
}
#histo h1 {
  text-align: center;
  font-size: 1.4rem;
  padding: 15px;
}
#miss h1 {
  text-align: center;
  font-size: 1.4rem;
  padding: 15px;
}
#val h1 {
  text-align: center;
  font-size: 1.4rem;
  padding: 15px;
}
#esr h1 {
  text-align: center;
  font-size: 1.4rem;
  padding: 15px;
}
#contact h1 {
  text-align: center;
  font-size: 1.4rem;
  padding: 15px;
}
#cita h1 {
  text-align: center;
  font-size: 1.4rem;
  padding: 15px;
}
#visi h1 {
  text-align: center;
  font-size: 1.4rem;
  padding: 15px;
}
#val h1 {
  text-align: center;
  font-size: 1.4rem;
  padding: 15px;
}
.prop {
  width: 64%;
  margin: auto;
}
.prop p {
  text-align: justify;
}
.porm {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
/* +++++++++++++++++++++++++++++++++++++ */
@media (max-width: 1280px) {
  .realisa {
    width: 60%;
  }
}
@media (max-width: 1070px) {
  .realisa {
    width: 70%;
  }
  .peunoi h1 {
    font-size: 2.4rem;
  }
  .about-content {
    width: 96%;
    grid-template-columns: 100%;
  }
}
@media (max-width: 917px) {
  .realisa {
    width: 40%;
  }
  .reali {
    height: 100px;
  }
  .peunoi a {
    display: none;
  }
  .enga {
    width: 100%;
  }
  .obli {
    width: 100%;
  }
  .cont-enga {
    width: 100%;
    padding: 5px;
    gap: 0.4rem;
  }
  .part-un,
  .part-deux {
    height: 70vh;
  }
  .win a {
    font-size: 1rem;
  }

  .details-about p {
    font-size: 1rem;
  }
}
@media (max-width: 784px) {
  .realisa {
    left: 0;
    width: 100%;
    gap: 0.4rem;
    grid-template-columns: repeat(auto-fit, minmax(40%, auto));
  }
  .reali {
    height: 100px;
  }
  .reali small {
    font-size: 2rem;
  }
  #form {
    width: 70%;
  }
  #menu {
    display: initial;
  }
  .nav-un {
    background-color: orange;
  }
  .nav-un .ul-un {
    flex-direction: column;
  }
  .nav-un {
    position: fixed;
    top: 3rem;
    left: -100%;
    width: 200px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    border-radius: 30px;
  }
  .nav-un.nav-active {
    left: 0;
  }
  .li-un {
    padding-left: unset;
    padding: 10px;
  }
  .lesphotos {
    width: 99%;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  }
  .prop {
    width: 96%;
  }
}
@media (max-width: 702px) {
  .cont-enga {
    width: 100%;
    grid-template-columns: 96%;
    gap: 1rem;
    margin: auto;
  }
  #form {
    width: 95%;
  }
  .newsletter {
    flex-direction: column;
  }
  .news-details p {
    font-size: 1.8rem;
  }
  #newsletter {
    width: 100%;
  }
  .baniere {
    margin-top: 1rem;
  }
  .peunoi h1 {
    font-size: 1.3rem;
  }
  .peunoi p {
    margin: 5px auto;
  }
}
@media (max-width: 600px) {
  .wrapper {
    max-width: 100%;
  }
  .faq button {
    font-size: 0.8rem;
  }
  .pannel p {
    font-size: 0.8rem;
  }
  .contwha .bx {
    font-size: 30px;
  }
}
